
<!-- <div class = 'help-video'>
    <iframe width="560" height="315" src="https://youtu.be/xtmXtmdxjNk" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<h2 mat-title>Map App Instructions</h2>

<mat-dialog-content>

The Map App is a way of accessing customized family history hints 
based on a person's surname or the county they lived in.
<ol>
    <li>Using the options button, choose what kind of task hint you want to generate. 
        By default this application returns record attachment hints that can be 
        broken down into three difficulty categories.</li>

    <li>Start by typing a surname or county a person lived in and pressing 
        the search button. The application will load up to 200 results for your search.</li>

    <li>Click on one of the marker pins you want to work on. Click the blue text with 
        the surname and place and it will take you directly to the FamilySearch sourcelinker 
        on your browser. The first time you do this, you will need to log in to FamilySearch.</li>

    <li>Once you are in sourcelinker, compare the record information (which is on the left 
        of the screen) with the information about the person on the Family Tree (which is on 
        the right of the screen) and decide if the record should be attached. If you think 
        it is a match, click “compare”, then “add” to move the residence information over 
        to the tree, and then “attach”.</li>
    <!-- Todo: add button that will automatically pull up familysearch? -->
    <!-- Todo: add link to learn more about record linking in familysearch in general here? -->
</ol>
For detailed instructions, click <a href = "https://docs.google.com/document/d/1MMoN7U5eNtrz3Yv3hnWjeRGs5ijwztg19QjNG_bQ4d8/edit" target="_blank" rel="noreferrer noopener">here</a>
and a help video can be found <a href = "https://youtu.be/xtmXtmdxjNk" target="_blank" rel="noreferrer noopener">here.</a>
    <!--Instead: a new link on the page? -->


</mat-dialog-content>
<mat-dialog-actions>

<!-- <button mat-button (click)='openHelpVideo()'>Open Help Video</button>     -->
<button mat-button mat-dialog-close>Done</button>

</mat-dialog-actions>
